.headerColor{
  background-color: #F2E1D9 !important;
}
li a ,a{
  color: #000000 !important;
}
li a:hover,a:hover{
  color: #fd8f5f !important;
}
.localMallIcon{
  background-color:  #fd8f5f !important;
}
