.imgHeader{
height:300px !important;
width: 100% !important;

}
.bgColor2{
  background-color: #f2e1d9;
  z-index:-2 ;
  height: 380px !important;
  }
  .ul{
      position: absolute;
      top: 53%;
  }
  .ul,h1{
      left: 5%;
  }
  h1{
      font-size: 3.4rem;
  }
  // .wCards{}
.imageCaed{
height: 250px;
}
